/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto',
        sans-serif;
    src: url();
    /* https://fonts.google.com/specimen/Roboto */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --burger: #ffffff;
    --title: #024BC8;

}

/********************/
/* ALGEMENE STIJLEN */
/********************/
ul {
    list-style: none;
}

body::before {
    content: '';
    max-width: 500px;
    height: 53em;
    display: block;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 70% 0, 70% 70%, 100% 70%, 100% 80%, 70% 80%, 70% 100%,
            50% 100%, 50% 80%, 0 80%);
    background: rgb(179, 185, 223);
    background: -moz-radial-gradient(circle, rgba(179, 185, 223, 1) 0%, rgba(54, 80, 159, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(179, 185, 223, 1) 0%, rgba(54, 80, 159, 1) 100%);
    background: radial-gradient(circle, rgba(179, 185, 223, 1) 0%, rgba(54, 80, 159, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3b9df", endColorstr="#36509f", GradientType=1);
}

body>header:first-of-type {
    display: flex;
    max-width: 500px;
    flex-direction: row;
    padding: 1.5em;

    position: absolute;
    top: 0;
    width: 100%;
}

/* burger v2 */
body>header:first-of-type::before {
    content: "";
    display: block;

    /* Space between the buns */
    width: 200px;
    /*height: 55px;*/

    /* Top bun */
    border-top: 80px solid var(--burger);

    /* Bottom bun */
    border-bottom: 50px solid #f5b230;
}

/* hamburger*/
body>header:first-of-type::after {
    content: "";
}

body>header:first-of-type>h1 {
    /* font-family: monospace;
    font-weight: bold;
    font-size: 4em;*/
    font-family: 'Roboto';
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    color: var(--title);

}

body>header:first-of-type>p {
    font-family: 'Roboto';
    color: var(--title);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
}

/* menu */
main>section:first-of-type>header {
    color: #36509f;
}

main>section>dl>dt {
    /*color: black;*/
    color: #36509f;
}

main>section>dl>dd:nth-of-type(1n) {
    /*color: green;
     font-weight: bold; */
    color: #38393d;
}

/* price */
main>section>dl>dd:nth-of-type(2n) {
    color: #0834b9;
}

section {
    display: grid;
    grid-template-rows: 4em 1fr;
    border: 2px solid red;
    max-width: 400px;
}

section dl {
    /* height: 200px; */
    display: grid;
    background-color: #f7f7f7;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
}

dt {
    font-weight: bold;
    /* Zodat de titels niet zoveel tekst gebruiken in mobile mode */
    max-width: 20ch;
}

dl dd,
dl dt {
    padding: 1em 0.25em;
    margin-bottom: 2em;
}

/* Issue is bijvoorbeeld bij platters dat het niet dezelfde orde heeft */
dl>dd:nth-of-type(2n)::before {
    content: "€";
}