
/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto',
        sans-serif;
    src: url();
    /* https://fonts.google.com/specimen/Roboto */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --burger: #ffffff;
    --primaryColorBlue: #024BC8;
}

/********************/
/* ALGEMENE STIJLEN */
/********************/
ul {
    list-style: none;
}

body{
    /*max-width: 32em;*/
    --triangleSize: min(40vw, 12.8em);
    margin: auto;
    position: relative;
    
}

body::before {
    content: '';
    height: 100vh;
    display: block;
        clip-path: polygon(0% 15%, 0 0, 15% 0%, 75% 0, 75% 72%, 100% 72%, 100% 80%, 75% 80%, 75% 100%, 58% 100%, 58% 80%, 0 80%);
    background: rgb(253, 253, 253);
    background: -moz-radial-gradient(circle, rgba(179, 185, 223, 1) 0%, rgb(34, 70, 176) 100%);
    background: -webkit-radial-gradient(circle, rgba(179, 185, 223, 1) 0%, rgba(54, 80, 159, 1) 100%);
    background: radial-gradient(circle, rgb(255 255 255) 0%, rgb(2 75 200) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3b9df", endColorstr="#36509f", GradientType=1);
}

/* triangle
body::after{
    content: "";
    display: block;
    position: absolute;
    height: 55%;
    /*top: calc(var(--triangleSize)/1.3);
    top: 17%;
    left: calc(var(--triangleSize)/2.8);
    width: calc(var(--triangleSize)/0.9);
    flex-shrink: 0;
   /* background-color: rgb(218, 218, 218);
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background: linear-gradient(to bottom right, transparent 50%, #ffffff 50%, #ffffff 100%, #ffffff 100%);
    z-index: 1;
}*/

body>header {
    display: flex;
    max-width: 32em;
    flex-direction: row-reverse;
    padding: 1.5em;
    position: absolute;
    top: 0;
    width: 100%;
    align-items: end;
    justify-content: end;
    --burgerSize: min(40vw, 12.8em);
    /*custom property, wordt niet groter dan 32 em "max-width"*/
}

/* burger v2 */
body>header::before {
    content: "";
    position: absolute;
    top: calc(var(--burgerSize)/7.5);
    left: calc(var(--burgerSize)/5);
    display: block;
    width: var(--burgerSize);
    aspect-ratio: 1/1;
    /* border-top: 80px solid var(--burger); */
    /* border-bottom: 50px solid var(--burger); */
    border-radius: 30% 30% 20% 20%;
    /* burger krimpt niet*/
    flex-shrink: 0;
    background-image: linear-gradient(180deg, #024BC8 40%, transparent 40% 80%, #024BC8 80%);
    z-index: 2;
}

/* hamburger*/
body>header::after {
    content: "";
    position: absolute;
    left: calc(var(--burgerSize)/6.5); 
    top: calc(var(--burgerSize)*.68);
    width: calc(var(--burgerSize)*1.1);
    /* height: 20px; */
    border-radius: 10em;
    /* box-shadow: 10px 85px var(--burger); */
    aspect-ratio: 8/1;
    background-color: var(--primaryColorBlue);
    z-index: 2;
}

body>header>h1 {
    font-family: 'Roboto';
    /* position: relative; */
    /* left: 3em; */
    /* top: 2.5em; */
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    color: var(--primaryColorBlue);
}

body>header:first-of-type>p {
    font-family: 'Roboto';
    /* position: relative; */
    /* left: 2em; */
    /* top: 5em; */
    color: var(--primaryColorBlue);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
}

/* hide input radio */
input[type="radio"]:checked,
input[type="radio"]:not(:checked),input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

/*input labels menu */
label{
   /* writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;*/
    cursor: pointer;
}

/* show content */
input[type="radio"]#all:checked ~ div section:nth-of-type(1),
input[type="radio"]#all:checked ~ div section:nth-of-type(2),
input[type="radio"]#all:checked ~ div section:nth-of-type(3),
input[type="radio"]#all:checked ~ div section:nth-of-type(4),
input[type="radio"]#all:checked ~ div section:nth-of-type(5),
input[type="radio"]#all:checked ~ div section:nth-of-type(6),
input[type="radio"]#all:checked ~ div section:nth-of-type(7),
input[type="radio"]#lunch:checked ~ div section:nth-of-type(2),
input[type="radio"]#lunch:checked ~ div section:nth-of-type(3),
input[type="radio"]#lunch:checked ~ div section:nth-of-type(4),
input[type="radio"]#dinner:checked ~ div section:nth-of-type(1),
input[type="radio"]#dinner:checked ~ div section:nth-of-type(5),
input[type="radio"]#dinner:checked ~ div section:nth-of-type(6),
input[type="radio"]#dessert:checked ~ div section:nth-of-type(7)
{
/*height: auto; 
 opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms; height: auto; opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;*/
    display: block;
}












/* container content */
div{
display: flex;
flex-wrap: wrap;
flex-direction: row;
gap: 0.5em;
}

/* container content */
section {
    display: none;
    border: 0.2em solid var(--primaryColorBlue);
    max-width: 400px;
    color: var(--primaryColorBlue);

    /* hide content 
    overflow: hidden;
      height: 0;
      opacity: 0;
      transition: height 0ms 400ms, opacity 400ms 0ms;*/
}

/* content information */
section dl {
    /* height: 200px; */
    display: grid;
    background-color: #f7f7f7;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
}

dt {
    font-weight: bold;
    /* Zodat de titels niet zoveel tekst gebruiken in mobile mode */
    max-width: 20ch;
}

dl dd,
dl dt {
    padding: 1em 0.25em;
    margin-bottom: 2em;
}

/* Issue is bijvoorbeeld bij platters dat het niet dezelfde orde heeft */
dl>dd:nth-of-type(2n)::before {
    content: "€";
}
